<div class="container">
  <div class="row">
    <div class="col-sm-12 header">
      <p>Patient Report</p>  
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <p>Specimen ID: 193-992-9201-0</p>  
       <p>Control ID:</p>
     <p>  SAMPLE REPORT, 005009</p>
    </div>
    <div class="col-sm-3">
     <p>Acct #: 90000999</p> 
     <p>LabCorp Test Master</p> 
<p>Test Account</p>
<p>5450 Millstream Road</p>
<p>MCLEANSVILLE NC 27301</p>
    </div>
    <div class="col-sm-2">
      Phone: (336) 436-8645 
    </div>
    <div class="col-sm-2">
      Rte: 00
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
     <h5>Patient Details</h5> 
<p>DOB: 01/01/1960</p>
<p>Age(y/m/d): 058/06/11</p>
<p>Gender: F SSN:</p>
<p>Patient ID:</p>
    </div>
    
    <div class="col-sm-4">
        <h5>Specimen Details</h5>
        <p>Date collected: 07/12/2018 0000 Local</p>
        <p>Date received: 07/12/2018</p>
        <p>Date entered: 07/12/2018</p>
        <p>Date reported: 07/12/2018 0000 ET</p>  
    </div> 
    <div class="col-sm-4">
        <h5>Physician Details</h5>
        <p>Ordering:</p>
        <p>Referring:</p>
        <p>ID:</p>
        <p>NPI:</p>  
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>General Comments & Additional Information</p>
      <p>Clinical Info: NORMAL REPORT</p>
    </div>
    <div class="col-sm-12">
      <p>Ordered Items</p>  
      <p>CBC With Differential/Platelet</p> 
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        <table style="width:100%">
            <tr>
              <th>TESTS</th>
              <th>RESULT</th> 
              <th>FLAG</th>
              <th>UNITS</th>
              <th>REFERENCE INTERVAL</th> 
              <th>LAB</th>                
            </tr>
            <tr>
              <td>CBC With Differential/Platelet</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>WBC</td>
              <td>4.7</td>
              <td></td>
              <td>x10E3/uL</td>
              <td>3.4 - 10.8</td>
              <td>01</td>
            </tr>
            <tr>
                <td>RBC</td>
                <td>3.77</td>
                <td></td>
                <td>x10E6/uL</td>
                <td>3.77 - 5.28</td>
                <td>01</td>
              </tr>


              <tr>
                <td>Hemoglobin</td>
                  <td>12.3</td>
                  <td></td>
                  <td>g/dL</td>
                  <td>11.1 - 15.9</td> 
                  <td>01</td>
              </tr>


              <tr>
                  <td>Hematocrit</td>
                    <td>36.3</td>
                    <td></td>
                    <td>%</td>
                    <td>34.0 - 46.6</td> 
                    <td>01</td>
                </tr>
  
                <tr>
                    <td>MCV</td>
                      <td>96</td>
                      <td></td>
                      <td>fL</td>
                      <td>79 - 97</td> 
                      <td>01</td>
                  </tr>

                

                  <tr>
                      <td>MCH</td>
                        <td>32.6</td>
                        <td></td>
                        <td>pg</td>
                        <td>26.6 - 33.0</td> 
                        <td>01</td>
                    </tr>

                    <tr>
                        <td>MCHC</td>
                          <td>33.9</td>
                          <td></td>
                          <td>g/dL</td>
                          <td>31.5 - 35.7</td> 
                          <td>01</td>
                      </tr>


                      <tr>
                          <td>RDW</td>
                            <td>13.8</td>
                            <td></td>
                            <td>%</td>
                            <td>12.3 - 15.4</td> 
                            <td>01</td>
                        </tr>

                        <tr>
                            <td>Platelets</td>
                              <td>293</td>
                              <td></td>
                              <td>x10E3/uL</td>
                              <td>150 - 379</td> 
                              <td>01</td>
                          </tr>

                          <tr>
                              <td>Neutrophils</td>
                                <td>54</td>
                                <td></td>
                                <td>%</td>
                                <td>Not Estab.</td> 
                                <td>01</td>
                            </tr>

                            <tr>
                                <td>Lymphs</td>
                                  <td>30</td>
                                  <td></td>
                                  <td>%</td>
                                  <td>Not Estab.</td> 
                                  <td>01</td>
                              </tr>

                              <tr>
                                  <td>Monocytes</td>
                                    <td>7</td>
                                    <td></td>
                                    <td>%</td>
                                    <td>Not Estab.</td> 
                                    <td>01</td>
                                </tr>

                                <tr>
                                    <td>Eos</td>
                                      <td>7</td>
                                      <td></td>
                                      <td>%</td>
                                      <td>Not Estab.</td> 
                                      <td>01</td>
                                  </tr>
                                 
                                  <tr>
                                      <td>Basos</td>
                                      <td>2</td>
                                      <td></td>
                                       <td>%</td>
                                        <td>Not Estab.</td>
                                        <td>01</td>
                                      </tr>
                                      
                                      <tr>
                                      <td>Neutrophils (Absolute)</td>
                                      <td>2.5</td>
                                      <td></td>
                                      <td>x10E3/uL</td>  
                                      <td>1.4 - 7.0</td> 
                                      <td>01</td>
                                      </tr>
                                      
                                      <tr>
                                      <td>Lymphs (Absolute)</td>
                                       <td>1.4</td>
                                        <td></td>
                                       <td>x10E3/uL</td>
                                        <td>0.7 - 3.1</td>
                                        <td>01</td>
                                      </tr>
                                      
                                      <tr>
                                      <td>Monocytes(Absolute)</td>
                                      <td>0.3</td>
                                      <td></td>
                                      <td>x10E3/uL</td>
                                      <td>0.1 - 0.9</td> 
                                      <td>01</td>
                                      </tr>
                                      
                                      <tr>
                                      <td>Eos (Absolute)</td>
                                      <td>0.3</td> 
                                      <td></td>
                                      <td>x10E3/uL</td> 
                                      <td>0.0 - 0.4</td> 
                                      <td>01</td>
                                      </tr>
                                      
                                      <tr>
                                      <td>Baso (Absolute)</td>
                                      <td>0.1</td> 
                                      <td></td>
                                      <td>x10E3/uL</td>
                                      <td>0.0 - 0.2</td> 
                                      <td>01</td> 
                                      </tr>
                                      
                                      <tr>
                                      <td>Immature Granulocytes</td>
                                      <td>0</td>
                                      <td></td>
                                      <td>%</td>
                                      <td>Not Estab.</td>
                                      <td>01</td>   
                                      </tr>
                                      
                                      <tr>
                                      <td>Immature Grans (Abs)</td>
                                      <td>0.0</td>
                                      <td></td> 
                                      <td>x10E3/uL</td>
                                      <td>0.0 - 0.1</td> 
                                      <td>01</td>
                                      </tr>

          </table>



    </div>
  </div>
</div>










