<div class="container">
  <div class="row">
    <div class="col-sm-12">
        Patient Report
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
        Specimen ID: 193-992-9201-0
    </div>
    <div class="col-sm-2">
      1
    </div>
    <div class="col-sm-2">
      2
    </div>
    <div class="col-sm-2">
      3
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">1</div>
    <div class="col-sm-4">2</div> 
    <div class="col-sm-4">3</div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        one
    </div>
    <div class="col-sm-12">
        Two
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table>

      </table>
    </div>
  </div>
</div>